[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "extern/Streamline"]
	path = extern/Streamline
	url = https://github.com/community-shaders/Streamline.git
	branch = extra-plugins
[submodule "extern/dxvk"]
	path = extern/dxvk
	url = https://github.com/community-shaders/dxvk.git
	branch = interop
[submodule "extern/OpenRenderGraph"]
	path = extern/OpenRenderGraph
	url = https://github.com/panthuncia/OpenRenderGraph.git
	branch = backend_interop
[submodule "extern/BasicRHI"]
	path = extern/BasicRHI
	url = https://github.com/panthuncia/BasicRHI.git
	branch = main
[submodule "extern/BasicTelemetry"]
	path = extern/BasicTelemetry
	url = https://github.com/panthuncia/BasicTelemetry.git
	branch = main
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
	branch = master
[submodule "extern/ORGModuleServices"]
	path = extern/ORGModuleServices
	url = https://github.com/panthuncia/ORGModuleServices.git
