[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "extern/Streamline"]
	path = extern/Streamline
	url = git@github.com:panthuncia/Streamline.git
	branch = main
[submodule "extern/dxvk"]
	path = extern/dxvk
	url = git@github.com:panthuncia/dxvk.git
	branch = main
