[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "extern/Streamline-DX12"]
	path = extern/Streamline-DX12
	url = https://github.com/NVIDIAGameWorks/Streamline.git
[submodule "extern/FidelityFX-SDK"]
	path = extern/FidelityFX-SDK
	url = https://github.com/alandtse/FidelityFX-SDK-DX11
	branch = optiscaler-build
[submodule "extern/BasicRHI"]
	path = extern/BasicRHI
	url = https://github.com/panthuncia/BasicRHI.git
[submodule "extern/OpenRenderGraph"]
	path = extern/OpenRenderGraph
	url = https://github.com/panthuncia/OpenRenderGraph.git
[submodule "extern/BasicTelemetry"]
	path = extern/BasicTelemetry
	url = https://github.com/panthuncia/BasicTelemetry.git
[submodule "extern/ORGModuleServices"]
	path = extern/ORGModuleServices
	url = git@github.com:panthuncia/ORGModuleServices.git
